* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
header {
  background-color: rgb(50, 50, 50);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

header h1 {
  background-color: lightblue;
  color:rgb(50, 50, 50);
  padding: 5px 10px 5px 70px;
}

header nav {
  margin: auto 10px;
}

header a {
  text-decoration: none;
  font-size: 20px;
  color: lightblue;
  margin: auto 5px;
}

header a:hover {
  color: aqua;
}

/* Hero banner */
.hero-banner {
  display: flex;
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  align-content: center;
  justify-content: space-between;
}

.hero-banner img {
  display: inline-block;
  border-radius: 50%;
  width:100px;
  height:100px;
  margin: auto 10px;
  border: 3px black solid;
}

.hero-banner h2 {
  display: inline-block;
  width: auto;
  background-color: rgba(0,0,0,0.5);
  padding: 5px;
  margin: auto 10px;
  border-radius: 10px;
}

/* Main */
main {
  display: grid;
  margin: auto;
  padding-bottom: 10px;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 150px 1fr;
  grid-template-areas:
  "aboutMe aboutMeContent"
  "work workContent"
  "contactMe contactMeContent";
}

#about {
  grid-area: aboutMe;
}

#aboutContent {
  grid-area: aboutMeContent;
}

#work h2 {
  grid-area: work;
}

#contact {
  grid-area: contactMe;
}

#contactContent {
  grid-area: contactMeContent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


#contactContent a {
  color: darkblue;
  text-decoration: none;
  font-size: 20px;
}


.page-section {
  margin: 10px;
}

.sectionHeading {
  color: darkblue;
  border-right: 2.5px darkblue solid;
  padding: 10px 5px 10px 30px;
  text-align: right;
}

/* Work Flex Grid */

#workGrid {
  grid-area: workContent;
  display: grid;
  grid-template-rows: repeat(3, 220px);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "portfolio1 portfolio1"
  "portfolio2 portfolio3"
  "portfolio4 portfolio5";
}

#portfolio1{
  grid-area: portfolio1;
  background-image: url("../images/02-portfolio-1.jpg");
}

#portfolio2{
  grid-area: portfolio2;
  background-image: url("../images/02-portfolio-2.jpg");
}

#portfolio3{
  grid-area: portfolio3;
  background-image: url("../images/02-portfolio-3.jpg");
}

#portfolio4{
  grid-area: portfolio4;
  background-image: url("../images/02-portfolio-4.jpg");
}

#portfolio5{
  grid-area: portfolio5;
  background-image: url("../images/02-run-buddy.jpg");
}

.workGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  border: 5px solid lightblue;
  margin: 5px;
  /* Use box shadow to tint box */
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}

/* Remove box-shadow when over work item */
.workGridArea:hover {
  box-shadow: none;
}

/* Move the box position and colour it */
.workTitle {
  background-color: lightblue;
  position: absolute;
  bottom: 10%;
  left: 0;
  padding: 5px;
}


/* Large screen response */
@media only screen and (min-width: 1440px) {
  #workGrid {
    grid-template-rows: repeat(2, 230px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "portfolio1 portfolio1 portfolio2"
    "portfolio3 portfolio4 portfolio5";
  }
}

/* Mobile screen response */
@media only screen and (max-width: 767px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    padding: 0px 0px;
  }

  header a {
    display: block;
  }

  .hero-banner {
    flex-direction: column;
    /* align-content: space-between; */
    /* justify-content: center; */
  }

  .hero-banner img, h2 {
    display: block;
    margin: 5px auto;
  }

  #workGrid {
    grid-template-rows: repeat(5, 180px);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "portfolio1"
    "portfolio2"
    "portfolio3"
    "portfolio4"
    "portfolio5";
  }

  main {
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "aboutMe"
    "aboutMeContent"
    "work"
    "workContent"
    "contactMe"
    "contactMeContent";
  }

  .sectionHeading {
    border-right: none;
    border-bottom: 2.5px darkblue solid;
    padding: 10px;
    text-align: center;
  }
}
